<link rel="stylesheet" href="js/lib/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="js/lib/easyui/themes/default/easyui.css">
<link rel="stylesheet" href="js/lib/easyui/themes/icon.css">
<link rel="stylesheet" href="resources/font-awesome/css/font-awesome.css">
<link rel="stylesheet" href="css/theme.css">
<link rel="stylesheet" href="css/custom.css?v=20190409">

<script type="text/javascript" src="js/lib/jquery/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="js/lib/seajs/2.2.0/sea.js"></script>
<script type='text/javascript' src='js/lib/dwr/engine.js'></script>
<script type='text/javascript' src='js/lib/dwr/util.js'></script>
<script type="text/javascript" src="js/lib/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/lib/easyui/jquery.easyui.min.js"></script>
<script type="text/javascript" src="js/lib/easyui/locale/easyui-lang-zh_CN.js"></script>
<script type="text/javascript" src="js/common/route.js"></script>
<script type="text/javascript" src="js/common/global.js"></script>

